pipeline/ParsingSecPipeline.json
{
	"name": "ParsingSecPipeline",
	"properties": {
		"description": "We will use this pipeline to collect filings and parse those filings.",
		"activities": [
			{
				"name": "LookupCikNumber",
				"description": "Query the SQL Database for the CIK numbers we want to pull filings for.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP (10) [CIK]\nFROM [dbo].[ST_Tickers_CIK]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TradingSystemSqlDatabaseCikTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopThroughCik",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupCikNumber",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupCikNumber').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GrabSecJson",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SecDatasetJson",
									"type": "DatasetReference",
									"parameters": {
										"cik": {
											"value": "@item().CIK",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TradingSystemJsonStorage",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().CIK, '.jsonc')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}